*
!/gui/
!/core/

!/.gitignore
!/CMakeLists.txt
!/main.cpp
!/README.md
!/*.ts

!/gui/mainwindow.cpp
!/gui/mainwindow.h
!/gui/mainwindow.ui

!/core/libXorEngine.cpp
!/core/libXorEngine.h

!/core/worker/xorworker.cpp
!/core/worker/xorworker.h