*

!*/
!**/

!/.gitignore
!/CMakeLists.txt
!/main.cpp
!/README.md
!/*.ts
!/TaskConfig.h
!/libXorEngine.h
!/libXorEngine.cpp

!/gui/mainwindow.cpp
!/gui/mainwindow.h

!/core/libXorEngine.cpp
!/core/libXorEngine.h
!/core/TaskConfig.h
!/core/worker/xorworker.cpp
!/core/worker/xorworker.h